@import "../../app.scss";
.navbar {
  color: white;
  font-size: 14px;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  &.scrolled {
    background-color: var(--main-color);
  }
}

.container {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  @media (max-width: 480px) {
    padding: 0 10px 0 10px;
  }
}
.left {
  display: flex;
  align-items: center;
  img {
    height: 50px;
    margin-right: 20px;
    @media (max-width: 480px) {
      height: 15px;
      width: 80px;
      margin-right: 20px;
    }
  }
}
span {
  cursor: pointer;
  margin-right: 20px;
  @include tablet {
    display: none;
  }

  &.navbarLink {
    @include tablet {
      display: block;
    }
  }
}

.right {
  display: flex;
  align-items: center;
  .icon {
    margin: 0px 15px;
    cursor: pointer;
  }
  img {
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
  .profile {
    .options {
      display: none;
      background-color: var(--main-color);
      border-radius: 5px;
      cursor: pointer;
    }
    span {
      padding: 10px;
      cursor: pointer;
    }
    &:hover {
      .options {
        display: flex;
        flex-direction: column;
        position: absolute;
        @media (max-width: 480px) {
          height: 100px;
          width: 50px;
        }
        button {
          cursor: pointer;
          background-color: #000000;
          color: white;
        }
      }
    }
  }
}
.set {
  display: flex;
  .name {
    justify-content: center;
    align-items: center;
  }
}
